body{
margin:0;
overflow:hidden;
font-family:'Roboto',sans-serif;
color:white;
}

#app{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
opacity:0;
transition:opacity 1s ease;
max-width:500px;
width:90%;
}

.card{
backdrop-filter:blur(15px);
background: rgba(255,255,255,0.08);
padding:30px;
border-radius:20px;
display:flex;
flex-direction:column;
}
input,textarea,button{
margin-bottom:15px;
padding:12px;
border-radius:10px;
border:none;
background:rgba(255,255,255,0.15);
color:white;
}
textarea{min-height:100px;}
button{
background:linear-gradient(45deg,#ff3f3f,#ff9a3f);
font-weight:bold;
cursor:pointer;
}
